<%- include('partials/header'); -%>

<ul class="guys">
	<li class="guy">
		<img src="/fall1.png" alt="fallguys character" />
		<h4>Sweet Dreamer</h4>
		<p>Wanna fall with me?</p>
	</li>
	<li class="guy">
		<img src="/fall2.png" alt="fallguys character" />
		<h4>Tropical Hugger</h4>
		<p>Free hugs comin'</p>
	</li>
	<li class="guy">
		<img src="/fall3.png" alt="fallguys character" />
		<h4>Protein Packer</h4>
		<p>Jump, Jupm, Jump...</p>
	</li>
	<li class="guy">
		<img src="/fall4.png" alt="fallguys character" />
		<h4>Pinky Pivate</h4>
		<p>How about free hooks?</p>
	</li>
	<li class="guy">
		<img src="/fall5.png" alt="fallguys character" />
		<h4>Nugget Lover</h4>
		<p>Winner, winner, chicken dinner</p>
	</li>
	<li class="guy">
		<img src="/fall6.png" alt="fallguys character" />
		<h4>Captain Bullet</h4>
		<p>Who can faster than the light?</p>
	</li>
</ul>

<%- include('partials/footer'); -%>
